<form 
    [formGroup]="PRCRegFormGroup" 
    (ngSubmit)="onRegister()" 
    class="grid grid-cols-2 gap-x-8 gap-y-3"
>
    <!-- PRC Name Section -->
    <mat-form-field
        [hideRequiredMarker]="PRCRegFormGroup.value.hideRequired"
        [floatLabel]="PRCRegFormGroup.value.floatLabel"
        class="col-span-1"
    >
        <input matInput placeholder="Recycling center name" required formControlName="prcName">
        <mat-error 
            *ngIf="PRCRegFormGroup.get('prcName')?.invalid && 
            (PRCRegFormGroup.get('prcName')?.dirty || PRCRegFormGroup.get('prcName')?.touched)"
        >
            <span 
                *ngIf="PRCRegFormGroup.get('prcName')?.errors && 
                PRCRegFormGroup.get('prcName')?.errors?.['required']"
            > Recycling center name required.</span>
        </mat-error>
    </mat-form-field>

    <!-- PRC Business Registration number Section -->
    <mat-form-field
        [hideRequiredMarker]="PRCRegFormGroup.value.hideRequired"
        [floatLabel]="PRCRegFormGroup.value.floatLabel"
        class="col-span-1"
    >
        <input matInput placeholder="Business registration number" required formControlName="BSRegNo">
        
        <mat-error *ngIf="PRCRegFormGroup.get('BSRegNo')?.hasError('required')"> 
            Business registration number is required.
        </mat-error>
        <mat-error *ngIf="PRCRegFormGroup.get('BSRegNo')?.hasError('BSRegistrationMinimumLength') || PRCRegFormGroup.get('BSRegNo')?.hasError('BSRegistrationMaxLength')"> 
            Business registration number should be minimum 8 to 10 characters.
        </mat-error>
    </mat-form-field>

    <!-- Address Section -->
    <mat-form-field
        [hideRequiredMarker]="PRCRegFormGroup.value.hideRequired"
        [floatLabel]="PRCRegFormGroup.value.floatLabel"
        class="col-span-full"
    >
        <input matInput placeholder="Address" required formControlName="address">
        <mat-error 
            *ngIf="PRCRegFormGroup.get('address')?.invalid && 
            (PRCRegFormGroup.get('address')?.dirty || PRCRegFormGroup.get('address')?.touched)"
        >
            <span 
                *ngIf="PRCRegFormGroup.get('address')?.errors && 
                PRCRegFormGroup.get('address')?.errors?.['required']"
            > Address is required.</span>
        </mat-error>
    </mat-form-field>

    <!-- District Section -->
    <mat-form-field
        [hideRequiredMarker]="PRCRegFormGroup.value.hideRequired"
        [floatLabel]="PRCRegFormGroup.value.floatLabel"
        class="col-span-1"
    >
        <input matInput placeholder="District" required formControlName="district">
        <mat-error 
            *ngIf="PRCRegFormGroup.get('district')?.invalid && 
            (PRCRegFormGroup.get('district')?.dirty || PRCRegFormGroup.get('district')?.touched)"
        >
            <span *ngIf="PRCRegFormGroup.get('district')?.errors 
                && PRCRegFormGroup.get('district')?.errors?.['required']"
            > 
                district is required.
            </span>
        </mat-error>
    </mat-form-field>

    <hr class="col-span-2">

    <h5 class="col-span-full admin-section gap-y-1">Admin Account Information</h5>

    <!-- UserName Section -->
    <mat-form-field
        [hideRequiredMarker]="PRCRegFormGroup.value.hideRequired"
        [floatLabel]="PRCRegFormGroup.value.floatLabel"
        class="col-span-full"
    >
        <input matInput placeholder="Username" required formControlName="username">
        <mat-error 
            *ngIf="PRCRegFormGroup.get('username')?.invalid && 
            (PRCRegFormGroup.get('username')?.dirty || PRCRegFormGroup.get('username')?.touched)"
        >
            <span 
                *ngIf="PRCRegFormGroup.get('username')?.errors && 
                PRCRegFormGroup.get('username')?.errors?.['required']"
            > Username is required.</span>
        </mat-error>
    </mat-form-field>

    <!-- Email Section -->
    <mat-form-field
        [hideRequiredMarker]="PRCRegFormGroup.value.hideRequired"
        [floatLabel]="PRCRegFormGroup.value.floatLabel"
        class="col-span-1"
    >
        <input matInput placeholder="Email" required formControlName="email" type="email">
        <mat-error 
            *ngIf="PRCRegFormGroup.get('email')?.invalid && 
            (PRCRegFormGroup.get('email')?.dirty || PRCRegFormGroup.get('email')?.touched)"
        >
            <span *ngIf="PRCRegFormGroup.get('email')?.errors && PRCRegFormGroup.get('email')?.errors?.['required']">Email is required.</span>
            <span *ngIf="PRCRegFormGroup.get('email')?.errors?.['email']">Please enter a valid email address.</span>
        </mat-error>
    </mat-form-field>

    <!-- Phone Number Section -->
    <mat-form-field
        [hideRequiredMarker]="PRCRegFormGroup.value.hideRequired"
        [floatLabel]="PRCRegFormGroup.value.floatLabel"
        class="col-span-1"
    >
        <input matInput placeholder="Phone number" required formControlName="phoneNumber" type="tel">
        <mat-hint>Phone number format - +9471****768</mat-hint>
        <mat-error *ngIf="PRCRegFormGroup.get('phoneNumber')?.hasError('required')">Phone number is required.</mat-error>
        <mat-error *ngIf="PRCRegFormGroup.get('phoneNumber')?.hasError('pattern')">Please enter a valid phone number.</mat-error>
    </mat-form-field>
    
    <!-- Password Section -->
    <mat-form-field
        [hideRequiredMarker]="PRCRegFormGroup.value.hideRequired"
        [floatLabel]="PRCRegFormGroup.value.floatLabel"
        class="col-span-1 mb-4"
    >
        <input matInput placeholder="Password" required formControlName="password" type="password">
        <mat-hint>Password should consist of minimum 8 length, special character, lowercase, uppercase and numbers</mat-hint>
        <mat-error *ngIf="PRCRegFormGroup.get('password')?.hasError('required')">
            Password is required.
        </mat-error>
        <mat-error *ngIf="PRCRegFormGroup.get('password')?.hasError('minlength')">
            Password should be minimum 8 characters long.
        </mat-error>
        <mat-error *ngIf="PRCRegFormGroup.get('password')?.hasError('invalidPassword')">
            Password should contain at least one special character, one lowercase letter, one uppercase letter, and one number.
        </mat-error>
    </mat-form-field>

    <!-- Password Confirmation -->
    <mat-form-field
        [hideRequiredMarker]="PRCRegFormGroup.value.hideRequired"
        [floatLabel]="PRCRegFormGroup.value.floatLabel"
        class="col-span-1 mb-4"
    >
        <input matInput placeholder="Confirm password" required formControlName="passwordConfirmation" type="password">
        <mat-error *ngIf="PRCRegFormGroup.get('passwordConfirmation')?.hasError('required')">
            Confirm password is required.
        </mat-error>
        <mat-error *ngIf="PRCRegFormGroup.get('passwordConfirmation')?.hasError('passwordMismatch')">
            Passwords do not match.
        </mat-error>
    </mat-form-field>

    <!-- Register Section -->
    <div class="col-span-full align-middle justify-center grid grid-rows-2 gap-1">
        <button 
            class="bg-primary px-4 py-1 rounded text-white row-span-1"
            type="submit"
            [class.opacity-50]="!this.PRCRegFormGroup.valid"
            [disabled]="!this.PRCRegFormGroup.valid"
            onclick="this.onRegister"
        >Register</button>
        <!-- Already have an account -->
        <div class="flex flex-row row-span-1 text-xs">
            <span>Already have an account? 
                <a href="http://localhost:4200/registration" class="text-primary"> login page </a>
            </span>
        </div>
    </div>
</form>