.container-body{
  width: 35% !important;
  margin-left: auto;
    margin-right: auto;
}

.menu-btn{
  width: 200px;
  height: 50px;
  color: #30be76;
  border: 2;
  border-color: #30be76;
}
.tracking-widest{
  width: 200px;
}
.w-full{
  min-width: 400px !important;
}
