<form [formGroup]="reportForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-2 gap-4 mx-36">
      <mat-form-field
        [hideRequiredMarker]="reportForm.value.hideRequired"
        [floatLabel]="reportForm.value.floatLabel"
        class="col-span-1"
      >
        <mat-label>Report Title:</mat-label>
        <input
          matInput
          placeholder="Enter Report Title"
          type="text"
          required
          formControlName="reportTitle"
        />
        <mat-error *ngIf="reportForm.get('reportTitle')?.hasError('required')">
          Report Issue is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field
        [hideRequiredMarker]="reportForm.value.hideRequired"
        [floatLabel]="reportForm.value.floatLabel"
        class="col-span-1"
      >
        <mat-label>Report Location:</mat-label>
        <input
          matInput
          placeholder="Enter Report Location"
          type="text"
          required
          formControlName="reportLocation"
        />
        <mat-error *ngIf="reportForm.get('reportLocation')?.hasError('required')">
          Report Location is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field
        [hideRequiredMarker]="reportForm.value.hideRequired"
        [floatLabel]="reportForm.value.floatLabel"
        class="col-span-1"
      >
        <mat-label>Report Date:</mat-label>
        <input
          matInput
          placeholder="Select report Date"
          type="date"
          required
          formControlName="reportDate"
        />
        <mat-error *ngIf="reportForm.get('reportDate')?.hasError('required')">
          Report Date is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field
        [hideRequiredMarker]="reportForm.value.hideRequired"
        [floatLabel]="reportForm.value.floatLabel"
        class="col-span-1"
      >
        <mat-label>Report Time:</mat-label>
        <input
          matInput
          placeholder="Select report Time"
          type="time"
          required
          formControlName="reportTime"
        />
        <mat-error *ngIf="reportForm.get('reportTime')?.hasError('required')">
          Report Time is required
        </mat-error>
      </mat-form-field>
  
      <div class="col-span-1 flex flex-col items-center">
        <div class="grid grid-rows-2">
          <div class="row-span-1 flex justify-start items-center">
            <div class="grid grid-rows-2 gap-0">
              <label class="row-span-1 w-25 text-text-color text-xs pt-2"
                >Upload Pictures</label
              >
              <div class="row-span-1 flex items-center">
                <label
                  for="fileInput"
                  class="flex w-24 items-center justify-center cursor-pointer bg-white border-2 border-primary text-text-color px-2 py-1 rounded whitespace-nowrap"
                >
                  Choose File
                </label>
                <input
                  id="fileInput"
                  type="file"
                  class="hidden"
                  [multiple]="true"
                  accept="image/*"
                  (change)="onFileSelected($event)"
                />
  
                <span
                  id="fileName"
                  class="file-name text-text-color opacity-40 ml-3"
                ></span>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap justify-center gap-4 mt-4">
          <div
            *ngFor="
              let picture of selectedReportPictures.slice(0, 6);
              let i = index
            "
            class="h-16 w-16 overflow-hidden border-2 border-primary flex justify-center items-center"
          >
            <img
              [src]="picture"
              alt="Profile Picture"
              class="object-cover w-full h-full"
            />
          </div>
        </div>
      </div>
  
      <mat-form-field
        [hideRequiredMarker]="reportForm.value.hideRequired"
        [floatLabel]="reportForm.value.floatLabel"
        class="col-span-1"
      >
        <mat-label>Description (max 1000 characters):</mat-label>
        <textarea
          matInput
          placeholder="Enter Description"
          type="text"
          required
          style="width: 100%; height: 250px"
          formControlName="reportDescription"
        ></textarea>
      </mat-form-field>
  
      <button
        class="bg-primary px-4 py-1 rounded text-white row-span-1"
        type="submit"
        [disabled]="reportForm.invalid"
      >
        Submit
      </button>
      <button
        class="bg-warn px-4 py-1 rounded text-white row-span-1"
        type="button"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
  </form>
  