<div class="block container object-none object-left-top w-2/12 h-2/12 ml-4 mt-2">
    <img src="app/assets/greensync-logo.png" alt="Logo" class="object-contain">
</div>

<div class="container mx-auto flex justify-end">    
    <div class="col-span-1 align-middle justify-end grid grid-rows-2 gap-1 mr-4">
        <button class="bg-primary px-1 py-1 rounded text-white row-span-1" (click)="onClickViewMyEvents()">My Events</button>
    </div>
    <div class="col-span-1 align-middle justify-end grid grid-rows-2 gap-1 mr-4">
        <button class="bg-primary px-1 py-1 rounded text-white row-span-1" (click)="onClickOrganizeEvents()">Organize Event</button>
    </div>
</div>

<div class="w-full">
    <div class="block mt-4 w-11/12">
        <div class="card-deck">
            <div class="card my-6 bg-gray-200 shadow-xl" *ngFor="let event of events" (click)="onCardClick()">
                <div class="card-body">
                    <h3>{{ event.eventName }}</h3>
                    <p>Date: {{ formatDate(event.eventTime) }}</p>
                    <p>Time: {{ formatTime(event.eventTime) }}</p>
                    <p>Location: {{ event.eventLocation }}</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
