<div class="mt-3">
    <div class="flex justify-between w-full">
        <div class="justify-start ml-4">
            <button 
                class="bg-primary hover:bg-green-300 hover:text-black py-2 px-4 rounded text-white row-span-1"
                routerLink="/user-homepage"
            >
                Main Menu
            </button>
        </div>
        <div class="flex justify-end mr-4">
            <div class="align-middle mr-4">
                <button 
                    class="bg-primary hover:bg-green-300 hover:text-black py-2 px-4 rounded text-white row-span-1"
                    routerLink='/user-homepage/event/my-events'
                >
                    My Events
                </button>
            </div>
            <div class="align-middle">
                <button 
                    class="bg-primary hover:bg-green-300 hover:text-black py-2 px-4 rounded text-white row-span-1"
                    (click)="onClickOrganizeEvents()"
                > 
                    Organize Event 
                </button>
            </div>
        </div>
    </div>
    <div class="w-auto h-auto" style="max-height: 500px; overflow-y: auto;">
        <div class="block mt-4 mx-auto w-9/12">
            <div class="card-deck">
                <div class="card my-6 h-auto w-auto bg-gray-200 rounded-xl shadow-xl hover:scale-110 transition-transform duration-200"
                    *ngFor="let event of this.events; let i = index" (click)="onCardClick(event, i)">
                    <div class="card-body">
                        <div class="ml-4">
                            <div class="flex h-20">
                                <div class="w-3/5">
                                    <div class="grid grid-rows-2">
                                        <h1 class=" text-primary custom-font font-extrabold row-span-1">{{
                                            event.eventName }}</h1>
                                        <div class="row-span-1 flex justify-between mr-4 text-l">
                                            <p class="">Date: {{ formatDate(event.eventTime) }}</p>
                                            <p class="">Time: {{ formatTime(event.eventTime) }}</p>
                                            <p class="">Location: {{ event.eventLocation }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-2/5 rounded-r-xl flex container">
                                    <img [src]="imagePaths[i % imagePaths.length]" alt="Event Image"
                                        class="object-cover col-span-2 h-full w-full rounded-r-xl">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center mt-4">
            <button class="bg-primary hover:bg-green-300 hover:text-black py-2 px-4 rounded text-white"
                (click)="previousPage()" [hidden]="currentPage === 1">Previous</button>
            <button class="bg-primary hover:bg-green-300 hover:text-black py-2 px-4 rounded text-white ml-4"
                (click)="nextPage()" [hidden]="currentPage === totalPages">Next</button>
        </div>
    </div>
</div>