<div>
    <div>
      <button
        class="flex w-24 items-center justify-center cursor-pointer bg-white border-2 border-primary text-text-color px-2 py-1 rounded whitespace-nowrap"
      (click)="isReportGarbageClicked()"
        >
        Report Garbage
      </button>
      <button
        class="flex w-24 items-center justify-center cursor-pointer bg-white border-2 border-primary text-text-color px-2 py-1 rounded whitespace-nowrap"
      >
        Report Complaints
      </button>
    </div>
  
    <app-report-garbage></app-report-garbage>
    
  </div>
  
  