<!-- view-event.component.html -->
<div class="view-event-dialog">
  <div class="flex justify-between items-start">
    <h1 class="text-primary font-extrabold text-4xl">{{ event.eventName }}</h1>
    <p *ngIf="isOrganizer()" class="text-primary font-extrabold text-2xl">You Organized This event</p>
  </div>
  <p>Date: {{ formatDate(event.eventTime) }}</p>
  <p>Time: {{ formatTime(event.eventTime) }}</p>
  <p>Location: {{ event.eventLocation }}</p>
  <p>Description: {{ event.eventDescription }}</p>
</div>
<div>
  <button class="bg-primary px-1 py-1 rounded text-white row-span-1" (click)="onClickParticipateEvent()" [disabled]="isOrganizer()">Participate</button>
</div>