<div class="flex w-full">
  <div class="block container object-none object-left-top w-2/12 h-2/12 ml-4 mt-2">
    <img src="app/assets/greensync-logo.png" alt="Logo" class="object-contain">
  </div>
</div>

<div class="flex justify-center items-center h-5/6">
  <div class="flex w-1/3 shadow-2xl h-auto bg-white items-center justify-center rounded-2xl">
    <div class="w-full">
      <mat-card class="">
        <mat-card-header class="justify-center py-5">
          <mat-card-title>Welcome !</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center py-5">
          <div class="mb-4">
            <a><button mat-stroked-button color="primary" class="menu-btn"
             [routerLink]="['/prc-driver/pending-pickups']">New Pickup</button></a>
            <br><br>
            <button mat-stroked-button color="primary" class="menu-btn"
            [routerLink]="['/prc-driver/pickup-history']">Pickup History</button>
            <br><br>

            <button mat-stroked-button color="primary" class="menu-btn"
            [routerLink]="['/prc-driver/price-chart']">Price Chart</button>
          </div>
          <br><br><br>
          <button type="submit" mat-raised-button class=" bg-primary font-bold text-white tracking-widest">
            About GreenSync
          </button>
          <br><br>
          <button type="submit" mat-raised-button class=" bg-warn font-bold text-white tracking-widest">
            Log out
          </button>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>
