<div class="flex w-full">
  <div class="block container object-none object-left-top w-2/12 h-2/12 ml-4 mt-2 mb-4 pb-4">
    <!-- <img src="app/assets/greensync-logo.png" alt="Logo" class="object-contain"> -->
  </div>
</div>

<div class="flex justify-center items-center h-5/6 mt-4 pt-4">
  <div class="flex w-1/3 shadow-2xl h-auto bg-white items-center justify-center rounded-2xl">
    <div class="w-full">
      <mat-card class="">
        <mat-card-header class="justify-center py-5">
          <mat-card-title>Request Pickup</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="loginFormGroup" (ngSubmit)="validateCredential()" class="space-y-6">

            <div>
              <mat-form-field appearance="fill" class="w-full"
                [floatLabel]="loginFormGroup.value.floatLabel">
                <mat-label>Pickup date</mat-label>

                <input matInput type="date" placeholder="Enter your password" required >
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill" class="w-full"
                [floatLabel]="loginFormGroup.value.floatLabel">
                <mat-label>Pickup Time Range</mat-label>

                <input matInput type="date" placeholder="Enter your password" required >
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill" class="w-full"
                [floatLabel]="loginFormGroup.value.floatLabel">
                <mat-label>Dump type</mat-label>

                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill" class="w-full" [hideRequiredMarker]="loginFormGroup.value.hideRequired"
                [floatLabel]="loginFormGroup.value.floatLabel">
                <mat-label>Description</mat-label>
                  <textarea matInput></textarea>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill" class="w-full" [hideRequiredMarker]="loginFormGroup.value.hideRequired"
                [floatLabel]="loginFormGroup.value.floatLabel">
                <mat-label>Location</mat-label>
                  <textarea matInput></textarea>
              </mat-form-field>
            </div>

            <div class="text-center py-2">
              <button type="submit" mat-raised-button [class.opacity-50]="!this.loginFormGroup.valid"
                [disabled]="!this.loginFormGroup.valid" class="w-full bg-primary font-bold text-white tracking-widest">
                Confirm
              </button>
              <br><br>
              <button type="submit" mat-raised-button [class.opacity-50]="!this.loginFormGroup.valid"
              [disabled]="!this.loginFormGroup.valid" class="w-full bg-primary font-bold text-white tracking-widest">
              Home
            </button>
            </div>

            <br><br>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
