
<div class="flex justify-center items-center h-5/6">
  <div class="flex w-1/3 shadow-2xl h-auto bg-white items-center justify-center rounded-2xl">
    <div class="w-full">
      <mat-card class="">
        <mat-card-header class="justify-center py-5">
          <mat-card-title>Update Location</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="locationFormGroup" (ngSubmit)="onSubmit()" class="space-y-6 flex-container ">
            <div>
              <mat-form-field  class="form_field">
                <mat-label>My Address</mat-label>
                <textarea matInput formControlName="location"></textarea>
              </mat-form-field>
            </div>

            <div class="text-center py-5">
              <button type="submit" mat-raised-button class=" bg-primary font-bold text-white tracking-widest">
                Update
              </button>
            </div>
            <div class="text-center">
              <button type="button" mat-raised-button class=" bg-primary font-bold text-white tracking-widest"
              [routerLink]="['/public/dashboard']">
                Home
              </button>
            </div>
            <br><br>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
