@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$text: #ecf9f7;
$background: #2fb474;
$primary: #40716b;
$secondary: #0f4100;
$accent: #19ff00;
