@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
$text: #030F09;
$background: #f1f6f1;
$secondary-background: #fefefe;
$primary: #30BE76;
$secondary: #30BE76;
$accent: #5ece52;

html, body { 
    height: 100%; 
    overflow: hidden;   
    margin: 0;
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: $background;
}

@font-face {
    font-family: 'proda-sans';
    src: url('./app/assets/font/Proda-Sans-Light.otf') format('truetype');
}

.custom-font {
    font-family: 'proda-sans', sans-serif;
}
