<div class="block w-full h-full">
    <div class="flex w-full h-24 justify-center mt-10">
        <img src="app/assets/greensync-logo.png" alt="Logo" class="object-contain">
    </div>
    <div class="flex justify-center align-middle mt-20">
        <div class="block bg-secondary-background shadow-2xl w-9/12 h-2/3 justify-center rounded-xl">
            <div class="m-10 w-auto">
                <div class="h-14 text-2xl text-primary font-extrabold custom-font text-center items-center mt-10">
                    <p class="items-center">
                        Transforming Waste into a Sustainable Future – Join Us in Redefining Waste Management for a Cleaner, 
                        Greener Tomorrow!
                    </p>
                </div>
                <div class="mt-10 px-10">
                    <p>
                        At GreenSync, our mission is to revolutionize waste management by bridging the gap between communities 
                        and efficient garbage disposal systems. Our web application offers a comprehensive solution to streamline 
                        waste collection processes for both municipal councils and private recycling centers.  
                        We empower users to contribute actively to a cleaner environment. 
                        Moreover, our platform fosters community engagement through organized cleanup events and rewards. 
                        As we continue to evolve, we remain committed to enhancing user towards building a healthier and 
                        cleaner world for generations to come.
                    </p>
                </div>
                <div class="flex h-16 align-bottom justify-center items-center">
                    <button 
                        class="h-10 bg-primary w-40 rounded-xl font-medium text-white tracking-wide"
                        routerLink="/registration"    
                    > Get Started </button>
                </div>
            </div>
        </div>  
    </div>
</div>
``